extends layout

block content
  a(href="/") List of entries
  form(method="post")
    div
      input(name="date" required type="date" value=entry.transaction_date)
      button(id="today" type="button") Today
    div
      input(
          min=0
          name="amount"
          placeholder="Amount"
          required
          type="number"
          value=entry.amount
      )
    div
      input(autocapitalize="none" name="account_a" placeholder="From" required value=entry.account_a)
    div
      input(autocapitalize="none" name="account_b" placeholder="To" required value=entry.account_b)
    div
      input(autocapitalize="none" name="description" placeholder="Description" required value=entry.description)
    div
      input(type="submit")
  script.
    var todayButton = document.querySelector('#today');
    todayButton.onclick = function () {
      var dateInput = document.querySelector('[name=date]');
      dateInput.valueAsDate = new Date();
    };
