extends layout

block content
  a(href='/insert') New entry
  p Total amount: #{total.amount}

  table(border=1)
    tbody
      each entry in entries
        tr
          td(style={'white-space': 'nowrap'})
            div= entry.transactionDate
            a(href='/entries/' + entry.id)= entry.amount
          td
            div
                span(style={color: 'red'})= entry.accountA + ' '
                span &rarr;
                span(style={color: 'blue'})= ' ' + entry.accountB
            div= entry.description
